.light-theme {
  ion-content {
    background-color: #494a50;
    color: #fff;
  }
 
  .toolbar-title {
    color: #fff;
  }
 
  .header .toolbar-background {
    border-color: #ff0fff;
    background-color: #494a50;
  }
  }

  //really dark